*
{
    color: #eee;
}
body
{

}
span
{
    padding: 10px;
    margin: 20px; /* na testy */
}
.in
{
    background: linear-gradient(75deg, #204, #135, #146);
}
.up
{
    background: linear-gradient(75deg, #204, #135, #146);
}
input
{
    background: linear-gradient(75deg, #010101, #333);;
    border: none;
    border-radius: 20px;
    padding: 5px;
}
button
{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
}
.in button
{
    background: linear-gradient(75deg, #060, #020);;
}
.up button
{
    background: linear-gradient(75deg, #060, #020);;
}
button[type="reset"]
{
    background: linear-gradient(75deg, #600, #200);;
}