/*---MAIN---*/
.dark *
{
    color: var(--white);
}
body.dark
{
    background: #f8f5ec;
}
.dark ::placeholder 
{
    color: var(--light-gray);
}


/*---HEADER---*/
.dark header
{
    background: linear-gradient(60deg, var(--white) 0%, var(--dark-gray) 20%, var(--dark-gray) 80%, var(--white) 100%);
    box-shadow: 0 0 10px var(--dark-gray);
    min-height: 120px;
    opacity: 80%;
}


/*---PRODUCTS---*/



/*---BOOTSRTAP---*/