@import url(main.css);
@import url(header.css);
@import url(button-animation.css);

.product
{
    background: linear-gradient(0deg, var(--light-blue) 20%, var(--mid-blue) 60%, var(--dark-blue) 80%);
}
.product button
{
    background: linear-gradient(75deg, var(--black), var(--gray));
}
.product img
{
    max-height: 300px;
}
