header
{
    background: linear-gradient(60deg, var(--black) 0%, var(--white) 20%, var(--white) 80%, var(--black) 100%);
    box-shadow: 0 0 10px var(--dark-gray);
    min-height: 120px;
}
.img-logo
{
    max-height: 120px;
    box-shadow: none !important;
}