@import url(main.css);
@import url(header.css);


/*---MENU---*/
.menu
{
    z-index: 999;
    position: fixed;
    right: 0;
    padding: 15px 10px 15px;
    transition: all 0.5s ease-out;
    white-space: nowrap;
}

.menuDisabled
{
    width: 0px;
    padding: 15px 0px 15px;
}