@import url(main.css);
@import url(header.css);
@import url(button-animation.css);
button, input
{
    border: none;
}
.product
{
    background: linear-gradient(0deg, var(--light-blue) 20%, var(--mid-blue) 60%, var(--dark-blue) 80%);
}
.product button
{
    background: linear-gradient(75deg, var(--black), var(--gray));
}
.product img
{
    max-height: 300px;
}



.menu
{
    z-index: 999;
    position: fixed;
    top: 108px;
    right: 0;
    padding: 15px 10px 15px;
    transition: all 0.5s ease-out;
    white-space: nowrap;
}

.menuDisabled
{
    width: 0px;
    padding: 15px 0px 15px;
}

@media (max-width: 768px)
{
    .menu 
    {
        top: 134px;
    }
}