@import url(variables.css);

/*---MAIN---*/
*
{
    color: var(--white) !important;
    font-family: Courier !important;
}
html, body
{
    min-height: 100vh !important;
    background: linear-gradient(0deg, var(--black) 0%, var(--light-black) 50%) !important;
}
button, input
{
    border: none;
}
::placeholder 
{
    color: #aaa !important;
}

/*--BUTTON ANIMATIONS---*/
button, a
{
    transition: transform 0.25s ease !important;
}
button:hover, a:hover
{
    transform: scale(0.9) !important;
}


/*---NOTIFICATIONS---*/
.error
{
    font-size: 120% !important;
    color: red !important;
}
.success
{
    font-size: 120% !important;
    color: green !important;
}