.menu 
{
    z-index: 999;
    position: fixed;
    top: 93px;
    right: 0;
    height: 100%;
    padding: 10px;
    background-color: black;
    transition: all 0.5s ease-out;
}

.disabled
{
    width: 0px;
}

@media (max-width: 768px)
{
    .menu 
    {
        top: 119px;
    }
}