:root
{
    --light-blue: #146;
    --mid-blue: #135;
    --dark-blue: #204;
    --light-red: #c0392b;
    --mid-red: #a93226;
    --dark-red: #922b21;
    --black: #070707;
    --light-black: #3A3A3A;
    --gray: #333;
    --white: #eee;
    --light-green-btn: #060;
    --dark-green-btn: #020;
    --light-red-btn: #600;
    --dark-red-btn: #200;
}