:root
{
    --light-blue: #146;
    --mid-blue: #135;
    --dark-blue: #204;
    --light-red: #e74c3c;
    --mid-red: #c0392b;
    --dark-red: #8e1b1b;
    --black: #070707;
    --gray: #333;
    --white: #eee;
}