header
{
    background: linear-gradient(75deg, #ff4050, #173)
}
.account, .cart, .menu
{
    height: 70px;
    width: 70px;   
}
.products
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.product
{
    width: 20%;
    height: 20%;
}
.product img
{
    max-width: 400px;
    max-height: 400px;
}
